<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>I'm looking at the weather</h1>
    <form method="GET" action="/forecast">
        
        <input type="text" name="zip" placeholder="enter a zip code">
        <button type="submit">Get my weather</button>
    </form>
</body>
</html>