<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>I'm looking at the Weather</h1>
    <h1><%= location %></h1>
    <h2><%= zipcode %></h2>
    <h3><%= temp %> F</h3>
    
</body>
</html>